.git
__pycache__
.cache/
db.sqlite3
.venv
# Ignore .env files
.env

# Ignore virtual environment directories
venv/
env/
# Ignore profile images
profile_images/
# Ignore compiled Python files
*.pyc

# Ignore IDE/project files
.idea/
.vscode/

# Ignore Django migration files
*/migrations/

# Ignore Database file
db.sqlite3
