{% extends 'base.html' %}
{% block title %} Demo {% endblock %}

{% block content %}

This demo is styled using 
<a class="underline" href="https://tailwindcss.com/">Tailwind CSS</a>

<div class="container">
  <h1 class="py-2 font-semibold text-xl">Compute with button</h1>
  <div class="px-4">
    <label class="block mt-2 font-medium">Value</label>
    <input type="text" id="value" name="value" class="block mt-2 border border-black bg-gray-50 rounded"></input>
    <label class="block mt-2 font-medium">Function</label>
    <select name="function" id="function" class="block mt-2 mb-4 border border-black">
      <option value="square">square</option>
      <option value="cube">cube</option>
    </select>
    <button hx-post="{% url 'htmx:answer' %}" hx-trigger="click" hx-target="#answer" hx-include="#value, #function"
      class="block mt-2 bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded dark:hover:text-white">
      Compute
    </button>

    <div class="flex py-2">
      <label class="font-medium mb-6">Answer: </label>

      <div class="px-2" id="answer">
      </div>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <h1 class="py-2 font-semibold text-xl">Compute without button</h1>

  <div class="px-4">
    <label class="block mt-2 font-medium">Value:</label>
    <input type="text" id="value1" name="value1" hx-post="{% url 'htmx:answer1' %}" hx-trigger="keyup changed"
      hx-target="#answer1" hx-include="#value1, #function1"
      class="block mt-2 border border-black bg-gray-50 rounded"></input>

    <label class="block mt-2 font-medium">Choose a function:</label>
    <select name="function1" id="function1" hx-post="{% url 'htmx:answer1' %}" hx-target="#answer1" 
      hx-include="#value1, #function1" class="block mt-2 border border-black">
      <option value="square">square</option>
      <option value="cube">cube</option>
    </select>


    <div class="flex py-2">
      <label class="font-medium mb-6">Answer: </label>

      <div class="px-2" id="answer1">
      </div>
    </div>
  </div>
</div>


<hr>

<div class="container">
  <h1 class="py-2 font-semibold text-xl">Random Images (<i>images courtesy NASA</i>)</h1>
  
  <table class="px-4">
    <tbody>
      <tr>
        <td class="px-2">
          <div class="animate" id="image1">
            {% include "htmx/partials/image.html" %}
          </div>
        </td>
        <td class="px-15">
          <div class="animate" id="image2">
            {% include "htmx/partials/image.html" %}
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<div hx-get="{% url 'htmx:oneimage' %}" hx-trigger="every 4s" hx-target="#image1"></div>
<div hx-get="{% url 'htmx:oneimage' %}" hx-trigger="every 5s" hx-target="#image2"></div>

{% endblock %}
