{% extends 'tasks/base.html'%}
{% block title %} Modifiy Crews {% endblock %}
{% block content %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<body>
    
<div style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column;">
    <h1>Add/Delete Crew</h1>
    <p>Enter Crew name you would like to add or delete:</p>
    <form action='{% url "tasks:add_crew" %}' method="post" class="form-spacing">
 
        {% csrf_token %}
        <div class="error" style="color: red;">{{ form.non_field_errors }}</div>
        {% for field in form %}
            <div style="margin-bottom: 10px;">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                <div class="error">{{ field.errors.as_text }}</div>
                {% endif %}
            </div>
        {% endfor %}

        <input type="submit"  value="Add Crew">
        <input type="submit"  value="Delete Crew">
    </form>
</div>
</body>
{% endblock %}