{% extends 'tasks/base.html'%}
{% block title %} Add Equipment {% endblock %}
{% block content %}
<body>
<div style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column;">
    <h1>Add Equipment</h1>
    <form action='{% url "tasks:add_equipment" %}' method="post" class="form-spacing">
 
        {% csrf_token %}
        <div class="error" style="color: red;">{{ form.non_field_errors }}</div>
        {% for field in form %}
            <div style="margin-bottom: 10px;">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                <div class="error">{{ field.errors.as_text }}</div>
                {% endif %}
            </div>
        {% endfor %}

        <input type="submit"  value="Add Equipment">
    </form>
</div>
</body>
</html>
{% endblock %}