{% extends 'tasks/base.html'%}
{% block title %} Crews {% endblock %}
{% block content %}
<script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
    .container {
        display: flex;
        justify-content: center;
        margin-top: 60px; /* Adjust this value based on the navbar height */
    }
    .boxes {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #6EBD63;
    }
    .box {
        border: 1px solid #000;
        padding: 10px;
        margin: 30px;
        width: 400px;
        height: 400px;
        position: relative;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    }
    ul {
        list-style-type: none;
        padding: 0;
        cursor: pointer;
    }
    li:hover {
        background-color: #f0f0f0;
    }
</style>
<body>
    <div class="container">
        <div class="boxes">
            <div class="box" id="crews-box">
                <h2>Crews</h2>
                {% for crew in crews %}
                <ul>
                    <button id='button-{{ crew.id }}' type="button" class="crews-box-item crews-box-item-action"
                    hx-trigger="click" hx-target="#memberscol" hx-vars="id:{{ crew.id }}"
                    hx-post="{% url 'tasks:crewmembers' %}">
                    {{ crew.crewName }}
                    </button>
                    <a href="{% url 'tasks:edit_crewmembers' crew.id %}">
                        <button class="edit-button">Edit</button>
                    </a>
                </ul>
                {% endfor %}
                <a href="{% url 'tasks:add_crew' %}">
                    <button class="edit-button">Add/Remove</button>
                </a>
            </div>
        
            <div class="box" id="members-box" hx-target="#members-box">
                <h2>Members</h2>
        
                <div class ="col-6" id="memberscol">
                <!-- Members will be displayed here -->
                </div>
            </div>
        </div>
    </div>
</body>
{%endblock%}