{% extends 'tasks/base.html'%}
{% block title %} Profile {% endblock %}
{% block content %}

<body>
<div class = "content" style="display: flex; justify-content: center; height: auto; margin: auto; padding-top: 60px;">
    <div style="border: 1px solid #000; padding: 20px; text-align: center;">
        <h1>{{ member.username }}'s Profile</h1>
        {% if member.profileImage %}
            <img src="{{ member.profileImage.url }}" alt="{{ member.username }}'s profile image">
        {% endif %}
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
            {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <p>
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                        <small>{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}
            <button type="submit" name="update_info">Update</button>
        </form>
        <p>Email: {{ member.email}}</p>
        <p>Position: {{ member.position }}</p>

        <h2>Change Password</h2>
        <form method="post" action="{% url 'tasks:change_password' %}">
            {% csrf_token %}
            <button type="submit">Change Password</button>
        </form>

        <a href="{% url 'tasks:logout' %}">Logout</a>
    </div>
</div>
</body>
{% endblock %}